*{
  font-family:'Helvetica'
}

.namecard{
 
  height:200px; width:350px;
  

  padding-top:50px;
  border:solid 1px;
  
}

.name{
  font-size:14px;
  color:gray;
  font-weight:200;
  letter-spacing:1px;

}
.egn{
  font-size:14px;
  color:gray;
  font-weight:200;
  letter-spacing:1px;
  padding-left:15px;
}

.otherinfo{
  font-size:12px;
  color:#fff;
  font-weight:normal;
  letter-spacing:1px;
  padding-left:15px;
  padding-top:5px;
  padding-bottom:20px;
  background-color:gray;
  overflow:hidden;
  margin-right:10px;
  margin-left:10px;
}




